<a href="https://colab.research.google.com/github/HydrOpOtesJA99/A.I-learning-CNN-analysis/blob/main/10_Pooling_Layer_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 10_Pooling_Layer

In [1]:
import tensorflow as tf
import pandas as pd

## 1. WITHOUT POOLING MODEL

### 1-1) 데이터를 준비한다

In [2]:
# 데이터를 준비한다

(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

독립 = 독립.reshape(60000, 28, 28, 1) # Convolution 연산을 3차원 형태로 만들기 위한 reshape
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
11501568/11490434 [==============================] - 0s 0us/step
(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

### 1-2) 모델을 만든다

In [ ]:
# 모델을 만든다

X = tf.keras.layers.Input(shape=[28, 28, 1]) # Convlolution 연산은 3차원 형태의 관측치를 input data로 사용

H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X) # 3: 필터의 개수, kernal_size=5: (5,5)사이즈의 필터 사용
# 3개의 필터를 사용해 3개의 특징맵 만든다
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H) # 6: 필터의 개수
# 6개의 필터를 사용해 6개의 특징맵 만든다
H = tf.keras.layers.Flatten()(H)
# 6채널의 특징맵 모두를 flatten layer로 한줄로 펼쳐 학습한다
H = tf.keras.layers.Dense(84, activation='swish')(H)

Y = tf.keras.layers.Dense(10, activation='softmax')(H)

model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

### 1-3) 모델을 학습한다.

In [ ]:
# 모델을 학습한다

model.fit(독립, 종속, epochs=10) # 학습하는 내용 자체가 많아서 10번만 돌려도 정확도가 높다

Epoch 1/10
1875/1875 [==============================] - 20s 4ms/step - loss: 0.6111 - accuracy: 0.9244
Epoch 2/10
1875/1875 [==============================] - 8s 4ms/step - loss: 0.0897 - accuracy: 0.9754
Epoch 3/10
1875/1875 [==============================] - 11s 6ms/step - loss: 0.0608 - accuracy: 0.9832
Epoch 4/10
1875/1875 [==============================] - 8s 4ms/step - loss: 0.0465 - accuracy: 0.9880
Epoch 5/10
1875/1875 [==============================] - 8s 4ms/step - loss: 0.0371 - accuracy: 0.9903
Epoch 6/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0334 - accuracy: 0.9911
Epoch 7/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0292 - accuracy: 0.9923
Epoch 8/10
1875/1875 [==============================] - 11s 6ms/step - loss: 0.0249 - accuracy: 0.9937
Epoch 9/10
1875/1875 [==============================] - 8s 4ms/step - loss: 0.0221 - accuracy: 0.9943
Epoch 10/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0202 - accuracy: 0.9951

### 1-4) 모델을 이용한다.

In [ ]:
# 모델을 이용한다.

pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2) # DataFrame의 형태로 변형해 출력, round(2) -> 소수점 두번째 자리에서 반올림

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [ ]:
# 정답(종속변수 값) 확인

종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [ ]:
#  모델 summary

model.summary()

# (28,28,1) --[필터크기=5, 필터개수=3]-> (24,24,3) --[필터크기=5, 필터개수=6]-> (20,20,6)
# 이미지 1개 마다 6장의 특징맵이 만들어졌다

# (20,20,6) --[Flatten]-> (2400; 20 x 20 x 6=2400)
# 이미지 1장당 2400개의 column이 만들어졌다

# Dense 84: Dense layer로 84개의 column으로 만들어 달라
# Dense 10: Dense layer로 10개의 column으로 만들어 달라

# Param(Parameter): 20만개라는 많은 수의 parameter 학습

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_2 (InputLayer)        [(None, 28, 28, 1)]       0

 conv2d_2 (Conv2D)           (None, 24, 24, 3)         78

 conv2d_3 (Conv2D)           (None, 20, 20, 6)         456

 flatten_1 (Flatten)         (None, 2400)              0

 dense_2 (Dense)             (None, 84)                201684

 dense_3 (Dense)             (None, 10)                850

=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________

## 2. WITH POOLING MODEL

*   **위의 분석모델은 가중치가 20만이 넘을 정도로 무거운 모델이다** 
*   따라서 Pooling 과정을 통해 가볍게 바꿔줄꺼임
*   pooling은 나중에 실제 분석에서 과한학습(overfitting)을 억제하는데 도움이 된다

### 2-1) 데이터를 준비한다

*   데이터 준비 과정은 이전과 같다

### 2-2) 모델을 만든다

In [4]:
# 모델을 만들고, CNN

X = tf.keras.layers.Input(shape=[28,28,1])

H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)  # MaxPooling 추가

H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)  # MaxPooling 추가

H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [6]:
# model 확인

model.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_2 (InputLayer)        [(None, 28, 28, 1)]       0

 conv2d_2 (Conv2D)           (None, 24, 24, 3)         78

 max_pooling2d_2 (MaxPooling  (None, 12, 12, 3)        0
 2D)

 conv2d_3 (Conv2D)           (None, 8, 8, 6)           456

 max_pooling2d_3 (MaxPooling  (None, 4, 4, 6)          0
 2D)

 flatten_1 (Flatten)         (None, 96)                0

 dense_2 (Dense)             (None, 84)                8148

 dense_3 (Dense)             (None, 10)                850

=================================================================
Total params: 9,532
Trainable params: 9,532
Non-trainable params: 0
_________________________________________________________________



*   (28, 28, 1) -> (24, 24, 3)으로 줄였고
*   (8, 8, 6) -> (4, 4, 6)으로 줄였다
*   이렇게 줄인 덕분에 가중치의 수를 약 20만개에서 8천여 개로 줄일 수 있었다

### 2-3) 모델을 학습한다.

In [7]:
# 모델의 학습

model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 18s 3ms/step - loss: 0.9297 - accuracy: 0.8731
Epoch 2/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.1317 - accuracy: 0.9610
Epoch 3/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0980 - accuracy: 0.9696
Epoch 4/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0861 - accuracy: 0.9741
Epoch 5/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0793 - accuracy: 0.9761
Epoch 6/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0739 - accuracy: 0.9785
Epoch 7/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0703 - accuracy: 0.9792
Epoch 8/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0705 - accuracy: 0.9793
Epoch 9/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0702 - accuracy: 0.9805
Epoch 10/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0668 - accuracy: 0.9814



*   정확도가 기존모델과 비교했을 때 떨어지지 않음을 확인 가능

### 2-4) 모델을 이용한다.

In [ ]:
# 모델의 이용

In [8]:
# 모델을 이용한다.

pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2) # DataFrame의 형태로 변형해 출력, round(2) -> 소수점 두번째 자리에서 반올림

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [9]:
# 정답(종속변수 값) 확인

종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

> CNN(Convolution Neural Network)를 안다고 할 수 있다아!

>